<div class="col-md-12" ng-cloak>
	<div class="row">
		<div class="col-md-3" id="orderHistoryHead">
			<h4>Date</h4>
		</div>
		<div class="col-md-3" id="orderHistoryHead">
			<h4>Amount</h4>
		</div>
	</div>
	<div class="row" ng-repeat="order in orders">
		<div class="col-md-3">
			<a href="/orders/{{order.id}}" style="text-decoration: none;">{{order.createdAt}}</a>
		</div>
		<div class="col-md-3">
			<a href="/orders/{{order.id}}" style="text-decoration: none;">{{order.total}}</a>
		</div>
	</div>
</div>
