<div class="col-md-12" ng-controller="CustomersSearchController">
	<div class="row" id="searchHead">
		<div class="col-md-2">
			Search by Email:
		</div>
		<div class="col-md-2">
			<input type="text" placeholder="" id="email" ng-change="emailSearch()" ng-model="email">
		</div>
		<div class="col-md-2">
			Search by First Name:
		</div>
		<div class="col-md-2">
			<input type="text" placeholder="" id="fName" ng-change="fNameSearch()" ng-model="fName">
		</div>
		<div class="col-md-2">
			Search by Last Name:
		</div>
		<div class="col-md-2">
			<input type="text" placeholder="" id="lName" ng-change="lNameSearch()" ng-model="lName">
		</div>
	</div>
	<div class="row" id="searchResultsHead">
		<div class="col-md-3">
			<h5>First Name</h5>
		</div>
		<div class="col-md-3">
			<h5>Last Name</h5>
		</div>
		<div class="col-md-3">
			<h5>Email</h5>
		</div>
		<div class="col-md-3">
			<h5>Phone</h5>
		</div>
	</div>
	<div class="row" ng-repeat="customer in customers">
		<div class="col-md-3">
			<a href="#/customers/edit/{{customer.id}}" style="text-decoration: none;">{{customer.fName}}</a>
		</div>
		<div class="col-md-3">
			<a href="#/customers/edit/{{customer.id}}" style="text-decoration: none;">{{customer.lName}}</a>
		</div>
		<div class="col-md-3">
			<a href="#/customers/edit/{{customer.id}}" style="text-decoration: none;">{{customer.email}}</a>
		</div>
		<div class="col-md-3">
			<a href="#/customers/edit/{{customer.id}}" style="text-decoration: none;">{{customer.phone}}</a>
		</div>
	</div>
</div>
