<div class="col-md-12 page-header" ng-cloak>
	<h3>Current Orders</h3>
</div>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-2">
			<h4>Order Age</h4>
		</div>
		<div class="col-md-2">
			<h4>Order Status</h4>
		</div>
		<div class="col-md-2">
			<h4>Order Total</h4>
		</div>
		<div class="col-md-2">
			<h4>Order Restaurants</h4>
		</div>
		<div class="col-md-2">
			<h4>Driver</h4>
		</div>
		<div class="col-md-2">
			<h4>Destination</h4>
		</div>
	</div>
	<div class="row" ng-init="things = order.things" ng-repeat="order in orders">
		<div class="col-md-2">
			<span ng-show="order.orderStatus > 4 && order.orderStatus < 9"><a href="#/orderDetails/{{order.id}}" class="leftNavLink">{{order.finalAge}}</a><br/></span>
			<span ng-show="order.orderStatus > 8"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkGreen">{{order.timeToDelivery}}</a><br/></span>
			<span ng-show="order.orderStatus < 5"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkRed">{{order.finalAge}}</a><br/></span>
		</div>
		<div class="col-md-2">
			<span ng-show="order.orderStatus > 4 && order.orderStatus < 9"><a href="#/orderDetails/{{order.id}}" class="leftNavLink">{{order.currStatus}} ({{order.orderStatus}})</a><br/></span>
			<span ng-show="order.orderStatus > 8"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkGreen">{{order.currStatus}} ({{order.orderStatus}})</a><br/></span>
			<span ng-show="order.orderStatus < 5"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkRed">{{order.currStatus}} ({{order.orderStatus}})</a><br/></span>
		</div>
		<div class="col-md-2">
			<span ng-show="order.orderStatus > 4 && order.orderStatus < 9"><a href="#/orderDetails/{{order.id}}" class="leftNavLink">{{order.total}}</a><br/></span>
			<span ng-show="order.orderStatus > 8"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkGreen">{{order.total}}</a><br/></span>
			<span ng-show="order.orderStatus < 5"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkRed">{{order.total}}</a><br/></span>
		</div>
		<div class="col-md-2">
			<span ng-show="order.orderStatus > 4 && order.orderStatus < 9"><a href="#/orderDetails/{{order.id}}" class="leftNavLink">{{order.restaurants}}</a> </span>
			<span ng-show="order.orderStatus > 8"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkGreen">{{order.restaurants}}</a> </span>
			<span ng-show="order.orderStatus < 5"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkRed">{{order.restaurants}}</a> </span>
		</div>
		<div class="col-md-2">
			<span ng-show="order.driver && order.orderStatus > 4 && order.orderStatus < 9"><a href="#/orderDetails/{{order.id}}" class="leftNavLink">{{order.driver}}</a><br/></span>
			<span ng-show="order.orderStatus > 8"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkGreen">{{order.driver}}</a><br/></span>
			<span ng-show="order.driver && order.orderStatus < 5"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkRed">{{order.driver}}</a><br/></span>
			<span ng-show="!order.driver && order.orderStatus > 4 && order.orderStatus < 9"><a href="#/dispatch/{{order.id}}" class="leftNavLink">Dispatch Order</a><br/></span>
			<span ng-show="!order.driver && order.orderStatus < 5" class="leftNavLinkRed">Pending<br/></span>
		</div>
		<div class="col-md-2">
			<span ng-show="order.orderStatus > 4 && order.orderStatus < 9"><a href="#/orderDetails/{{order.id}}" class="leftNavLink">{{order.destination}}</a><br/></span>
			<span ng-show="order.orderStatus > 8"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkGreen">{{order.destination}}</a><br/></span>
			<span ng-show="order.orderStatus < 5"><a href="#/orderDetails/{{order.id}}" class="leftNavLinkRed">{{order.destination}}</a><br/></span>
		</div>
	</div>
</div>
