<div class="col-md-12 page-header" ng-cloak>
	<h3>Current Orders</h3>
</div>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-2">
			<h4>Order Age</h4>
		</div>
		<div class="col-md-2">
			<h4>Order Status</h4>
		</div>
		<div class="col-md-2">
			<h4>Order Total</h4>
		</div>
		<div class="col-md-2">
			<h4>Order Restaurants</h4>
		</div>
		<div class="col-md-2">
			<h4>Driver</h4>
		</div>
		<div class="col-md-2">
			<h4>Destination</h4>
		</div>
	</div>
	<div class="row" ng-init="things = order.things" ng-repeat="order in orders">
		<div class="col-md-2">
			<span class="leftNavLink"><a href="#/orderDetails/{{order.id}}">{{order.finalAge}}</a><br/></span>
		</div>
		<div class="col-md-2">
			<span class="leftNavLink"><a href="#/orderDetails/{{order.id}}">{{order.currStatus}}</a><br/></span>
		</div>
		<div class="col-md-2">
			<span class="leftNavLink"><a href="#/orderDetails/{{order.id}}">{{order.total}}</a><br/></span>
		</div>
		<div class="col-md-2">
			<span class="leftNavLink"><a href="#/orderDetails/{{order.id}}">{{order.restaurants}}</a> </span>
		</div>
		<div class="col-md-2">
			<span class="leftNavLink" ng-show="order.driver"><a href="#/orderDetails/{{order.id}}">{{order.driver}}</a><br/></span>
			<span class="leftNavLink" ng-show="!order.driver"><a href="#/dispatch/{{order.id}}">Dispatch Order</a><br/></span>
		</div>
		<div class="col-md-2">
			<span class="leftNavLink"><a href="#/orderDetails/{{order.id}}">{{order.destination}}</a><br/></span>
		</div>
	</div>
</div>
