<div class="modal-header">
  <h3 class="modal-title" id="nav-away-modal-title">
		Dispatching an order from {{restNames}} to {{driver.fName}} {{driver.lName}}
  </h3>
</div>
<div class="modal-body">
	<form name="dispatchForm">
		<label for="readyMins">Minutes to Order Ready for Pickup:</label>
		<input type="number" name="readyMins" class="form-control" min="1" ng-model="readyMins">
	</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-left" ng-click="$close('discard')">
    <i class="fa fa-reply"></i> &nbsp; Go Back
  </button>
  <button type="button" class="btn btn-success pull-right" ng-click="dispatchOrder()" ng-disabled="!readyMins">
    Dispatch Now
  </button>
</div>
