
<div class="col-md-12 page-header">
	<h3>Shift History</h3>
</div>
<div class="col-md-12">
	<table class="table table-responsive table-condensed table-striped">
		<tr>
			<td>
				<h3>Date</h3>
			</td>
			<td>
				<h3>Result</h3>
			</td>
			<td>
				<h3>Reconciled By</h3>
			</td>
		</tr>
		<tr ng-repeat="shift in shifts">
			<td>
				<span ng-show="!shift.reconciledBy === 'PENDING'">
					<a href="#/driverShifts/view/{{driverId}}-date-{{shift.date}}" style="text-decoration: none;">{{shift.date}}</a>
				</span>
				<span ng-show="shift.reconciledBy === 'PENDING'">
					<a href="#/driverShifts/reconcile/{{driverId}}-date-{{shift.date}}" style="text-decoration: none;">{{shift.date}}</a>
				</span>
			</td>
			<td>
				<span ng-show="!shift.reconciledBy === 'PENDING'">
					<a href="#/driverShifts/review/{{driverId}}-date-{{shift.date}}" style="text-decoration: none;">{{shift.net}}</a>
				</span>
				<span ng-show="shift.reconciledBy === 'PENDING'">
					<a href="#/driverShifts/reconcile/{{driverId}}-date-{{shift.date}}" style="text-decoration: none;">{{shift.net}}</a>
				</span>
			</td>
			<td>
				<span ng-show="!shift.reconciledBy === 'PENDING'">
					<a href="#/driverShifts/review/{{driverId}}-date-{{shift.date}}" style="text-decoration: none;">{{shift.reconciledBy}}</a>
				</span>
				<span ng-show="shift.reconciledBy === 'PENDING'">
					<a href="#/driverShifts/reconcile/{{driverId}}-date-{{shift.date}}" style="text-decoration: none;">{{shift.reconciledBy}}</a>
				</span>
			</td>
		</tr>
	</table>
</div>
