
<div class="col-md-12 page-header">
	<h3>Shift History</h3>
</div>
<div class="col-md-12">
	<table class="table table-responsive table-condensed table-striped">
		<tr>
			<td>
				<h3>Date</h3>
			</td>
			<td>
				<h3>Result</h3>
			</td>
			<td>
				<h3>Reconciled By</h3>
			</td>
		</tr>
		<tr ng-repeat="shift in shifts">
			<td>
				<a href="#/driverShifts/reconcile/{{driverId}}-{{shift.date}}" style="text-decoration: none;">{{shift.date}}</a>
			</td>
			<td>
				<a href="#/driverShifts/reconcile/{{driverId}}-{{shift.date}}" style="text-decoration: none;">{{shift.net}}</a>
			</td>
			<td>
				<a href="#/driverShifts/reconcile/{{driverId}}-{{shift.date}}" style="text-decoration: none;">{{shift.reconciledBy}}</a>
			</td>
		</tr>
	</table>
</div>
