<div id="fms-entities-form" class="col-md-12" style="top: -40px; position: relative;" ng-cloak>
	<div class="page-header" ng-show="!entity.name && !editMode">
		<h3>Add Entity</h3>
	</div>
	<div class="page-header" ng-show="!entity.name && editMode">
		<h3>Update Entity</h3>
	</div>
	<div class="page-header" ng-show="entity.name">
		<h3>
			<small>ENTITY: </small>
			{{entity.name}} 
		</h3>
	</div>
	<form name="form" class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-md-3 control-label">Entity Name*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="entity.name" id="name"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="mascot" class="col-md-3 control-label">Mascot*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="entity.mascot" id="mascot"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="color1" class="col-md-3 control-label">Primary Color*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="entity.color1" id="color1"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="color2" class="col-md-3 control-label">Secondary Color*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="entity.color2" id="color2"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="color3" class="col-md-3 control-label">Alternative Color*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="entity.color3" id="color3"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="repeatSelect" class="col-md-3 control-label">League Code*</label>
			<div class="col-md-9">
				<select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
					<option ng-repeat="option in data.availableOptions" value="{{option.name}}">{{option.name}}</option>
				</select>
			</div>
		</div>
		<br/>
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<button
					type="button" class="btn btn-danger col-md-1" 
					ng-click="cancel()"
				>
					Cancel
				</button>
				<button 
					type="button" class="btn btn-primary col-md-1 pull-right" 
					ng-click="save(entity)"
				>
					<i class="fa fa-save"></i> &nbsp;
					Save
				</button>
			</div>
		</div>
	</form>
</div>
