<div class="col-md-6 page-header" ng-cloak>
	<h3>G2U Management System</h3>
</div>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
			<span class="leftNavLink" ng-show="authLevel > 2"><a href="#/applicants">Applicants	View</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 2"><a href="#/customers/add">Customer Add</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 2"><a href="#/customers/search">Customer Search</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 2"><a href="#/dispatch">Dispatch Center</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 2"><a href="#/orders/add">Order Add</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 2"><a href="#/orders/search">Order Search</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3"><a href="#/payroll/process">Process Payroll</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3 && authLevel < 5"><a href="#/reports/basic">Reports</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 4"><a href="#/reports/advanced">Reports</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3"><a href="#/areas">Restaurant Management</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3"><a href="#/schedules/add">Schedule Add</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3"><a href="#/schedules/view">Schedule View</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3"><a href="#/schedules/add">Schedule Add</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3"><a href="#/schedules/view">Schedule View</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3"><a href="#/stories/add">Story Add</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 3"><a href="#/stories/view">Stories View</a><br/></span>
			<span class="leftNavLink" ng-show="authLevel > 1"><a href="#/shifts/view">Shift History</a><br/></span>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-3">
					&nbsp;
				</div>
				<div class="col-md-3">
					<h4>Daily Trends</h4>
				</div>
				<div class="col-md-3">
					<h4>Weekly Trends</h4>
				</div>
				<div class="col-md-3">
					<h4>4-Week Trends</h4>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-3">
					Completed Orders
				</div>
				<div class="col-md-3">
					{{dayOrders}}
				</div>
				<div class="col-md-3">
					{{weekOrders}}
				</div>
				<div class="col-md-3">
					{{weeksOrders}}
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-3">
					Orphaned Orders
				</div>
				<div class="col-md-3">
					{{dayOrphans}}
				</div>
				<div class="col-md-3">
					{{weekOrphans}}
				</div>
				<div class="col-md-3">
					{{weeksOrphans}}
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-3">
					Revenue
				</div>
				<div class="col-md-3">
					{{dayRevenue}}
				</div>
				<div class="col-md-3">
					{{weekRevenue}}
				</div>
				<div class="col-md-3">
					{{weeksRevenue}}
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-3">
					Signups
				</div>
				<div class="col-md-3">
					{{daySignups}}
				</div>
				<div class="col-md-3">
					{{weekSignups}}
				</div>
				<div class="col-md-3">
					{{weeksSignups}}
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-3">
					Applicants
				</div>
				<div class="col-md-3">
					{{dayApplicants}}
				</div>
				<div class="col-md-3">
					{{weekApplicants}}
				</div>
				<div class="col-md-3">
					{{weeksApplicants}}
				</div>
			</div>
		</div>
	</div>
</div>
