
<div class="col-md-6 page-header">
	<h3>{{area.name}} <small>HOTELS</small></h3>
</div>
<div class="col-md-6 page-header">
	<a href="#/{{path}}/add/{{area.id}}" class="pull-right">
    <button id="hotelAdd" class="btn btn-default">
      <i class="fa fa-2x fa-plus-square"></i>
			<div id="hotelAdd" class="fa-btn-text divspan">Add a Hotel to {{area.name}}</div>
    </button>
  </a>
</div>
<div class="col-md-12">
	<table class="table table-responsive table-condensed table-striped">
		<tr>
			<td>
				<h3>Hotel</h3>
			</td>
			<td>
				<h3>Address</h3>
			</td>
			<td>
				<h3>Phone</h3>
			</td>
		</tr>
		<tr ng-init="hotelId = hotel.id" ng-repeat="hotel in hotels">
			<td>
				<span><a href="#/hotels/edit/{{hotelId}}">{{hotel.name}}</a></span>
			</td>
			<td>
				<span ng-repeat="address in hotel.addresses"><a href="#/hotels/edit/{{hotelId}}">{{address.streetNumber}} {{address.streetName}}</a></span>
			</td>
			<td>
				<span><a href="#/hotels/edit/{{hotelId}}">{{hotel.phone}}</a></span>
			</td>
		</tr>
	</table>
</div>
