<div id="fms-items-form" class="col-md-12" ng-cloak>
	<div class="page-header" ng-show="!item.name && !editMode">
		<h3>Add Item</h3>
	</div>
	<div class="page-header" ng-show="!item.name && editMode">
		<h3>Update Item</h3>
	</div>
	<div class="page-header" ng-show="item.name">
		<h3>
			<small>ITEM: </small>
			{{item.name}} 
		</h3>
	</div>
	<form name="form" class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-md-1 control-label">Item Name</label>
			<div class="col-md-11">
				<input 
					type="text" class="form-control" placeholder="Name"
					ng-model="item.name" id="name"
				>
			</div>
		</div>

		<div class="form-group">
			<label for="desc" class="col-md-1 control-label">Description</label>
			<div class="col-md-11">
				<input 
					type="text" class="form-control" placeholder="Authentic Italian Cuisine"
					ng-model="item.desc" id="desc"
				>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-3 control-label">Active</div>
			<div class="col-md-9">
				<input type="radio" ng-model="item.active" id="active" name="active" value="true">Yes<br>
				<input type="radio" ng-model="item.active" id="active" name="active" value="false">No<br>
			</div>
		</div>


		<!-- Image upload -->
		<div class="container">
		    <blockquote>
		        <p>File Upload widget with multiple file selection, drag&amp;drop support, progress bar, validation and preview images, audio and video for jQuery.<br>
		        Supports cross-domain, chunked and resumable file uploads and client-side image resizing.<br>
		        Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.</p>
		    </blockquote>
		    <br>
		    <!-- The fileinput-button span is used to style the file input field as button -->
		    <span class="btn btn-success fileinput-button">
		        <i class="glyphicon glyphicon-plus"></i>
		        <span>Add files...</span>
		        <!-- The file input field used as target for the file upload widget -->
		        <input id="fileupload" type="file" name="files[]" multiple>
		    </span>
		    <br>
		    <br>
		    <!-- The global progress bar -->
		    <div id="progress" class="progress">
		        <div class="progress-bar progress-bar-success"></div>
		    </div>
		    <!-- The container for the uploaded files -->
		    <div id="files" class="files"></div>
		    <br>
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            <h3 class="panel-title">Demo Notes</h3>
		        </div>
		        <div class="panel-body">
		            <ul>
		                <li>The maximum file size for uploads in this demo is <strong>5 MB</strong> (default file size is unlimited).</li>
		                <li>Only image files (<strong>JPG, GIF, PNG</strong>) are allowed in this demo (by default there is no file type restriction).</li>
		                <li>Uploaded files will be deleted automatically after <strong>5 minutes</strong> (demo setting).</li>
		                <li>You can <strong>drag &amp; drop</strong> files from your desktop on this webpage (see <a href="https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support">Browser support</a>).</li>
		                <li>Please refer to the <a href="https://github.com/blueimp/jQuery-File-Upload">project website</a> and <a href="https://github.com/blueimp/jQuery-File-Upload/wiki">documentation</a> for more information.</li>
		                <li>Built with the <a href="http://getbootstrap.com/">Bootstrap</a> CSS framework and Icons from <a href="http://glyphicons.com/">Glyphicons</a>.</li>
		            </ul>
		        </div>
		    </div>
		</div>
		<!-- Image Upload -->



		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<button
					type="button" class="btn btn-danger col-md-1" 
					ng-click="cancel()"
				>
					Cancel
				</button>
				<button 
					type="button" class="btn btn-primary col-md-1 pull-right" 
					ng-click="save(item)"
				>
					<i class="fa fa-save"></i> &nbsp;
					Save
				</button>
				<button
					type="button" class="btn btn-default col-md-1 pull-right" 
					ng-click="save(item, {addMore: true})"
					ng-show="!editMode"
				>
					More
				</button>
			</div>
		</div>
	</form>
</div>
