<div class="col-md-12 page-header" ng-cloak>
	<div class="row">
		<div class="col-md-2">
			<span class="orderDetailsDestinationInfo" style="font-size: 16px; font-weight: bold;">{{fName}} {{lName}}</span>
		</div>
		<div class="col-md-2">
			<span class="orderDetailsDestinationInfo">{{phone}}</span>
		</div>
		<div class="col-md-2">
			<span class="orderDetailsDestinationInfo">{{address}}</span>
		</div>
		<div class="col-md-2">
			<span class="orderDetailsDestinationInfo" ng-show="paymentMethod != 'cash'">CC - {{total}}</span>
			<span class="orderDetailsDestinationInfo" ng-show="paymentMethod == 'cash'">Cash - {{total}}</span>
		</div>
		<div class="col-md-2">
			<span class="orderActionLink" ng-show="orderStatus < 6" ng-click="setOrderPlaced(order)">Set Order Placed</span>
			<span class="orderActionLink" ng-show="orderStatus > 5 && orderStatus < 7" ng-click="setOrderCollected(order)">Set Order Collected</span>
			<span class="orderActionLink" ng-show="orderStatus > 6 && orderStatus < 8" ng-click="setOrderEnRoute(order)">Set Order En Route</span>
			<span class="orderActionLink" ng-show="orderStatus > 7 && orderStatus < 9" ng-click="setOrderDelivered(order)">Set Order Delivered</span>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
			<div class="row" ng-repeat="restaurant in orderRestaurants">
				<div class="col-md-12">
					<div class="row">
						<span class="orderDetailsRestaurantInfo"><h4>{{restaurant.name}} ({{restaurant.phone}})</h4></span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row" ng-repeat="item in restaurant.items">
						<div class="col-md-11 col-md-offset-1">
							<span class="orderDetailsItemInfo">{{item.quantity}} {{item.name}} - {{item.option}}<br/></span>
							<span class="orderDetailsItemInfo">{{item.specInst}}<br/></span>
						</div>
					</div>
				</div>
				<br/>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<iframe width="600" height="450" frameborder="0" style="border:0" src="{{src}}"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
