<div id="fms-pools-form" class="col-md-12" style="top: -40px; position: relative;" ng-cloak>
	<div class="page-header" ng-show="!entity.name && !editMode">
		<h3>Add Entity to Pool</h3>
	</div>
	<div class="page-header" ng-show="!entity.name && editMode">
		<h3>Update Entity for Pool</h3>
	</div>
	<div class="page-header" ng-show="pool.name">
		<h3>
			<small>POOL: </small>
			{{pool.name}} 
		</h3>
	</div>
	<form name="form" class="form-horizontal">
		<div class="form-group">
			<label for="entityName" class="col-md-3 control-label">Entity Name*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control"
					ng-model="entityName" id="entityName"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="odds" class="col-md-3 control-label">Expected Odds*: </label><br>
			<div class="col-md-9">
				<input 
					type="text" class="form-control"
					ng-model="odds" id="odds"
				>
			</div>
		</div>
		<br/>
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<button
					type="button" class="btn btn-danger col-md-1" 
					ng-click="cancel()"
				>
					Cancel
				</button>
				<button 
					type="button" class="btn btn-primary col-md-1 pull-right" 
					ng-click="save(pool)" ng-disabled="!entityName || !odds"
				>
					<i class="fa fa-save"></i> &nbsp;
					Save
				</button>
			</div>
		</div>
	</form>
</div>
